@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{ margin: 0; padding: 0; outline: none; }
ul,ol{ list-style: none; }
html,body{ height: 0; font-family: 'Luckiest Guy', cursive;}
button{ border: 0; background: none; }

#header{
  text-align: center;
}

#header h1{
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  color: #fa6c14;
  font-weight: bold;
}

.chatting_wrap{
  display: flex;
  justify-content: space-around;
}

.chatting{
  position: relative;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 1px solid rgba(255,143,0,1);
}

.chatting .title{
  position: absolute;
  height: 50px;
  line-height: 50px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255,143,0,1);
  z-index: 10;
  box-sizing: border-box;
  padding: 0 5px;
  color: #ffffff;
  font-size: 21px;
  letter-spacing: 1.2px;
  text-shadow: 0 0 15px rgba(0,0,0,.3);
}

.chatting .chat_box{
  height: 500px;
  margin-right: -16px;
  box-sizing: border-box;
  border-radius: 2px 2px 0 0;
  padding: 60px 10px 0px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: 'Noto Sans KR', sans-serif;
}

.chatting .chat_box:-webkit-scrollbar-track{
  position: absolute;
  background: transparent;
}
/*chat line*/
.chatting .chat_box .line{
  position: relative;
  padding-left: 30px;
  line-height: 25px;
  max-width: calc(100% - 30px);
}

.chatting .chat_box .line + .line{
  margin-top: 20px;
}

.chatting .chat_box .line:before{
  content:'';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background-color: #f1f1f1;
  background-size: cover;
}

.chatting .chat_box .line.char_a:before{
  background-image: url('../img/img_01.jpg');
}

.chatting .chat_box .line.char_b:before{
  background-image: url('../img/img_02.jpg');
}

.chatting .chat_box .line.char_c:before{
  background-image: url('../img/img_03.jpg');
}


.chatting .chat_box .line.right{
  padding: 0 30px 0 0;
  text-align: right;
}

.chatting .chat_box .line.right:before{
  left: auto;
  right: 0;
}

.chatting .chat_box .line .txt{
  background: #f1f1f1;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 5px;
  display: inline-block;
  color: #333333;
  font-size: 14px;
  word-break: break-all;
}

.chatting .chat_box .line.right .txt{
  background: -webkit-linear-gradient(left, rgba(255,100,0,1) 0%, rgba(255,143,0,1) 100%);
  background: -o-linear-gradient(left, rgba(255,100,0,1) 0%, rgba(255,143,0,1) 100%);
  background: linear-gradient(to right, rgba(255,100,0,1) 0%, rgba(255,143,0,1) 100%);
  color: #ffffff;
}

.input_box{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,143,0,1);
}

.input_box input,.input_box button{
  height: 30px;
  line-height: 30px;
}

.input_box input{
  flex-grow: 1;
  border: none;
  padding: 0 5px;
}

.input_box button{
  padding: 0 10px;
  background: rgba(255,143,0,1);
  color: #ffffff;
  font-weight: bold;
}
